html, body, div, span, applet, object, iframe,h1 ,h2 ,h3 ,h4 ,h5 ,h6 , p, blockquote, 
pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, ins, kbd, q, s, samp, 
small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, 
fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, 
canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, 
ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%:
    font: inherit;
    vertical-align: baseline;
}
html {height: 100%}
body {
    height: 100%;
    font: 14px/24px Arial, Tahoma, sans-serif;
    background-color: #ebebeb;
    text-align: center;
    font-family: sans-serif;
    margin-left: 3px;
    margin-right: 3px;
}
ol,ul {list-style: none;}
* {
    margin: 0;
    padding: 0;
    outline: none;
    
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
a, a:hover {text-decoration: none}




/*.body_slides{
    list-style:none;
    margin:0;
    padding:0;
    z-index:-2; 
    background:#f8f9f9;
}
.body_slides,
.body_slides:after{
    position: absolute;
    width:100%;
    top:0px;
    left:0px;}
.body_slides:after { 
    content: '';
    background: transparent url(images/pattern.png) repeat top left;}
.body_slides img {
    max-width: 2000px;
    height: auto;
}
.body_slides li {
    width:100%;
    height:100%;
    position: absolute;
    top:0;
    left:0;
    background-size:cover;
    background-repeat:none;
    opacity:0;
    -webkit-animation: anim_slides 18s linear infinite 0s;
    -moz-animation: anim_slides 18s linear infinite 0s;
    -o-animation: anim_slides 18s linear infinite 0s;
    -ms-animation: anim_slides 18s linear infinite 0s;
    animation: anim_slides 18s linear infinite 0s;
}

.body_slides li:nth-child(2){
-webkit-animation-delay: 6.0s;
-moz-animation-delay: 6.0s;
}
.body_slides li:nth-child(3){
-webkit-animation-delay: 12.0s;
-moz-animation-delay: 12.0s;
}
@-webkit-keyframes anim_slides {
0% {opacity:0;}
6% {opacity:1;}
24% {opacity:1;}
30% {opacity:0;}
100% {opacity:0;}
}
@-moz-keyframes anim_slides {
0% {opacity:0;}
6% {opacity:1;}
24% {opacity:1;}
30% {opacity:0;}
100% {opacity:0;}
}

/*@media (min-width: 10px) and (max-width: 480px) {
    .body_slides img {
        width: 460px;
    }
}
@media (min-width: 479px) and (max-width: 700px) {
    .body_slides img {
        width: 700px;
    }
}
@media (min-width: 701px) and (max-width: 1000px) {
    .body_slides img {
        width: 1000px;
    }
}
@media (min-width: 1001px) and (max-width: 1300px) {
    .body_slides img {
        width: 1300px;
    }
}
@media (min-width: 1301px) and (max-width: 1600px) {
    .body_slides img {
        width: 1600px;
    }
}
@media (min-width: 1601px) and (max-width: 1800px) {
    .body_slides img {
        width: 1800px;
    }
}*/
* {box-sizing: border-box}
.mySlides {display:none}
.slideshow-container {
  max-width: 100%;
  min-width: 700px;
  padding: 0px;
  z-index: -1;
  position: absolute;
}
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 3s;
  animation-name: fade;
  animation-duration: 3s;
}


@-webkit-keyframes fade {
  from {opacity: .1} 
  to {opacity: 1}
}
@keyframes fade {
  from {opacity: .1} 
  to {opacity: 1}
}










.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}
.cf:after {
    clear: both;
}
.cf {
    *zoom: 1;
}

body {
  font: 9px "open sans", Arial, sans-serif;
  background: #cdcdd5;
  margin: 0px;
  min-width: 700px;
}

ul.navbar {
  width: 100%;
  min-width: 780px;
  background: #fff; /* Old browsers */
  margin: 0px;
  position: fixed;
  z-index: 5;
}

ul.navbar li {
	float: left;
	margin: 0;
	position: relative;
}

ul.navbar li a {
	display: block;
	padding: 13px 15px;
	color: #777 !important;
	text-decoration: none;
	text-transform: uppercase;
	transition: all .2s ease-in-out;
}

ul.navbar li a:hover,
ul.navbar li:hover > a {
	background: #cc0000;
	color: #fff !important;
}

ul.navbar li ul {
  margin: 0;
  position: absolute;
  background: #222;
  left: 10%;
  font-size: 10px;
  min-width: 170px;
  opacity: 0;
  visibility: hidden;
  z-index: 99;
  transition: all .1s ease;
}

ul.navbar ul li { float: none; }
ul.navbar li:hover > ul { opacity: 1; visibility: visible; left: 0; max-height: 250px }
ul.navbar > li:hover > ul { opacity: 1; visibility: visible; top: 100%; left: 0; }
ul.navbar li > ul  ul { top: 0; left: 90%; }
ul.navbar li > ul li:hover > ul { left: 100%; }



.logo img {
    margin-top: 80px;
    position: relative;
    max-width: 200px;
}
@media (min-width: 10px) and (max-width: 700px) {
    .logo img {
        width: 100px;
    }
}
@media (min-width: 701px) and (max-width: 1300px) {
    .logo img {
        width: 110px;
    }
}
@media (min-width: 1301px) and (max-width: 1600px) {
    .logo img {
        width: 150px;
    }
}
@media (min-width: 1601px) and (max-width: 1800px) {
    .logo img {
        width: 170px;
    }
}
.skills {
    margin-top: 30px;
    position: relative;
    color: #cc0000;
}
.works {
    text-align: right;
    margin-right: 10%;
    min-width: 950px;
}
.works p {
  font-size: 150%;  
}
.workmenu {
    margin-left: 10%;
    position: absolute;
    margin-top: 50px;
    max-width: 80%;
}
.work1 {
    float: left;
    margin-left: 10%
}

.work2 {
    float: left;
    margin-left: 40%;
}
.work3 {
    float: left;
    margin-left: 70%;
}
.workmenu img {
    border-radius: 50%;
    position: absolute;
}
@media (min-width: 1300px) {
    .services {
    margin-top: 450px;
    }
}
@media (min-width: 1051px) and (max-width: 1300px) {
    .workmenu img {
        width: 250px;
    }
    .services {
        margin-top: 350px;
    }
    .line img {
        width: 250px;
    }
}
@media (min-width: 851px) and (max-width: 1050px) {
    .workmenu img {
        width: 200px;
    }
    .services {
        margin-top: 300px;
    }
    .line img {
        width: 200px;
    }
}
@media (min-width: 751px) and (max-width: 851px) {
    .workmenu img {
        width: 180px;
    }
    .services {
        margin-top: 300px;
    }
    .line img {
        width: 180px;
    }
}
@media (max-width: 750px) {
    .workmenu img {
        width: 165px;
    }
    .services {
        margin-top: 250px;
    }
     .line img {
        width: 165px;
    }
}
.w1, .w2, .w3 {
    visibility: hidden;
}
.work1:hover .w1 {
    visibility: visible;
}
.work2:hover .w2 {
    visibility: visible;
}
.work3:hover .w3 {
    visibility: visible;
}
.works {
    margin-top: 5%;
}
main h1 {
    font-size: 25px;
}
.services {
    text-align: right;
    padding: 0px;
    z-index: -5;
    position: absolute;
    box-sizing: border-box;
}
.services img {
    max-width: 100%;
    min-width: 700px;
    height: auto;
    box-sizing: border-box;
}
.services h1 {
    margin-top: -42%;
    margin-right: 10%;
}
.services p {
    font-size: 150%;
    margin-right: 10%;
}
.services h2 {
   margin-right: 10%;
}
.services .text {
    margin-top: 2%;
}
.box {
    margin-left: 8%;
    margin-top: 70px;
    min-width: 1049px;
}
.box1, .box2, .box3, .box4, .box5 {
    position: relative;
    z-index: 5;
    max-width: 310px;
    height: 480px;
    text-align: center;
    margin: 5px;
    border: 2px solid #737b7b;
}
.box button {
    color: white;
    padding: 15px 50px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 17px;
    margin: 4px 2px;
    cursor: pointer;
    background-color: #cc0000;
    border: none;
}
.box button:hover {
    background-color: #cc0000;
    color: white;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}
.box1 {
    float: left;
}
.box2 {
    float: left;
}
.box3 {
    float: left;
}
.box4 {
    float: left;
}
.box5 {
    float: left;
}
@media (min-width: 1600px) and (max-width: 1800px) {
    .box1 {
        width: 280px;
        height: 400px;
    }
    .box2 {
        width: 280px;
        height: 400px;
    }
    .box3 {
        width: 280px;
        height: 400px;
    }
    .box4 {
        width: 280px;
        height: 400px;
    }
    .box5 {
        width: 280px;
        height: 400px;
    }
}
@media (min-width: 1435px) and (max-width: 1599px) {
    .box1 {
        margin-top: -15px;
        width: 250px;
        height: 360px;
    }
    .box2 {
        margin-top: -15px;
        width: 250px;
        height: 360px;
    }
    .box3 {
        margin-top: -15px;
        width: 250px;
        height: 360px;
    }
    .box4 {
        margin-top: -15px;
        width: 250px;
        height: 360px;
    }
    .box5 {
        margin-top: -15px;
        width: 250px;
        height: 360px;
    }
}
@media (min-width: 1300px) and (max-width: 1434px) {
    .box1 {
        margin-top: -20px;
        width: 220px;
        height: 300px;
    }
    .box2 {
        margin-top: -20px;
        width: 220px;
        height: 300px;
    }
    .box3 {
        margin-top: -20px;
        width: 220px;
        height: 300px;
    }
    .box4 {
        margin-top: -20px;
        width: 220px;
        height: 300px;
    }
    .box5 {
        margin-top: -20px;
        width: 220px;
        height: 300px;
    }
}
@media (min-width: 1050px) and (max-width: 1299px) {
    .services h2 {
        font-size: 135%;
    }
    .box1 {
        margin-top: -70px;
        width: 180px;
        height: 270px;
    }
    .box2 {
        margin-top: -70px;
        width: 180px;
        height: 270px;
    }
    .box3 {
        margin-top: -70px;
        width: 180px;
        height: 270px;
    }
    .box4 {
        margin-top: -70px;
        width: 180px;
        height: 270px;
    }
    .box5 {
        margin-top: -70px;
        width: 180px;
        height: 270px;
    }
    .box button {
    padding: 10px 30px;
    }
}
@media (max-width: 1049px) {
    .services h2 {
        font-size: 135%;
    }
    .box1 {
        margin-top: -70px;
        width: 180px;
        height: 270px;
    }
    .box2 {
        margin-top: -70px;
        width: 180px;
        height: 270px;
    }
    .box3 {
        margin-top: -70px;
        width: 180px;
        height: 270px;
    }
    .box4 {
        margin-top: -70px;
        width: 180px;
        height: 270px;
    }
    .box5 {
        margin-top: -70px;
        width: 180px;
        height: 270px;
    }
    .box button {
    padding: 10px 30px;
    }
}



.blog {
    max-width: 1800px;
    height: 950px;
    background-color: white;
    text-align: right;
    min-width: 1049px;
    margin-top: 73%;
    margin-left: 10%;
    margin-right: 10%;
}
.blog h1 {
    margin-right: 10%;
}
.blog p {
    margin-right: 10%;
    font-size: 150%;  
}
@media (min-width: 1450px) and (max-width: 1599px) {
    .blog {
        margin-top:76%;
    }
}
@media (min-width: 1300px) and (max-width: 1449px) {
    .blog {
        margin-top: 83%;
    }
}
@media (min-width: 1050px) and (max-width: 1299px) {
    .blog {
        margin-top: 79%;
    }
}
@media (min-width: 400px) and (max-width: 1049px) {
    .blog {
        margin-top: 800px;
    }
}
.new {
    max-width: 90%;
}
.new h3 {
    font-size: 250%;
    margin-right: 20px;
}
.new p {
    text-align: right;
}
.n1 {
    float: left;
    margin-left: 15%;
    width: 550px;
    border: solid 1px;
}
.n1 img {
    width: 548px;
}
.new button {
    color: white;
    padding: 15px 50px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 17px;
    margin: 4px 2px;
    cursor: pointer;
    background-color: #cc0000;
    border: none;
}
.new button:hover {
    background-color: #cc0000;
    color: white;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

.n2 {
    float: left;
    width: 550px;
    border: solid 1px;
}
.n2 img {
    width: 548px;
}
.n3 {
    margin-left: 15%;
    float: left;
    text-align: left;
    width: 275px;
    border: solid 1px;
}
.n3 img {
    width: 150px;
}
.n3 p {
    float: left;
}
.n4 {
    margin-left: 0;
    float: left;
    text-align: left;
    width: 275px;
    border: solid 1px;
}
.n4 img {
    width: 150px;
}
.n4 p {
    float: left;
}





.info {
    max-width: 1800px;
    height: 550px;
    text-align: right;
    min-width: 1049px;
    margin-top: 7%;
    margin-left: 15%;
    margin-right: 10%;
}

.info img {
    max-width: 100%;
    min-width: 700px;
    height: auto;
}
.info h1 {
    margin-top: 20px;
    margin-right: 10%;
}
.info p {
    font-size: 150%;
    margin-right: 10%;
}

form {
    position: absolute;
    margin: 0 auto;
    max-width: 20%;
    padding: 30px 30px 6px 30px;
    border: none;
    overflow: hidden; 
}
/* Поле сообщения */
textarea{
    background: rgba(255, 255, 255, 0.4); 
    width: 100%;
    height: 80px;
    border: 1px solid rgba(255,255,255,.6);
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box; 
    display:block;
    font-family: 'Open Sans', sans-serif;
    font-size:18px;
    font-weight: 300;
    color: #5a5a52;
    padding-left:5px;
    padding-right:5px;
    padding-top:5px;
    margin-bottom:20px;
    overflow:hidden;
}
/* Поля ввода */
input {
    width: 100%;
    height: 35px;
    border: 1px solid rgba(255,255,255,.4);
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box; 
    display:block;
    font-family: 'Open Sans', sans-serif;
    font-size:18px;
    font-weight: 300;    
    color:#5a5a52;
    padding-left:15px;
    padding-right:15px;
    margin-bottom:20px;
}
input[type=submit] {
    cursor:pointer;
}
input.name {
    background: rgba(255, 255, 255, 0.4); 
    padding-left:5px;
}
input.email {
    background: rgba(255, 255, 255, 0.4);
    padding-left:5px;
}
input.message {
    background: rgba(255, 255, 255, 0.4);
    padding-left:5px;
}
::-webkit-input-placeholder {
    color: #8b8b8b;
}
:-moz-placeholder{ 
    color: #8b8b8b; 
}
::-moz-placeholder {
    color: #8b8b8b;
}
:-ms-input-placeholder {  
    color: #8b8b8b; 
}
input:focus, textarea:focus { 
    background-color: rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 0 5px 1px rgba(255,255,255,.5);
    -webkit-box-shadow: 0 0 5px 1px rgba(255,255,255,.5);
    box-shadow: 0 0 5px 1px rgba(255,255,255,.5);
    overflow: hidden; 
}
/* Стили для кнопки отправить */

.btn {
    width: 138px;
    height: 44px;
    float:right;
    border: none;
    background: #cc0000;
    padding: 10.5px 21px;
    color: white;
   font-size: 17px;
}
.btn:hover {
    background-color: #cc0000;
    color: white;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}
.tel h1 {
     float: left;
     margin-left: 40%;
     font-size: 170%;
     text-decoration: underline;
}
.nom {
     float: left;
     margin-left: -19%;
     margin-top: 3.5%;
}
.mail {
    margin-top: 7%;
}
.mail p {
     float: left;
     margin-left: -19%;
     margin-top: 3.5%;
}
.soc {
    float: right;
    margin-top: -6.5%;
}
.soc h1 {
    margin-top: -7%;
    margin-left: 72%;
}
.soc form {
    margin-left: 54%;
    margin-top: -5%;
}
.img {
    
}
